:root {
  /* --main-bg-color: #9d2d3e; */
  --main-bg-color: #f8ebed;
  --accent-color: #a1162b;
  --pic-height: 427px;
}

.info-cont {
  position: absolute;
  width: 100%;
  top: var(--pic-height);
  z-index: 10;
}
.head-cont {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 10;
}
