.nav-cont{
  height:max-content;
  border-bottom: 5px solid var(--main-bg-color);
}
.btn{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  padding: 3%;
  text-align: center;
}
.nav-cont button{
  /* background-color: var(--main-bg-color);
  border-top: 4px solid white; */
  color: var(--main-bg-color);
}
.nav-cont p{
  border-right: 5px solid var(--main-bg-color);
}
